<!DOCTYPE html>
<html>
<head>
    <title>StockFlow</title>
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>

<body style="background:#f5f7fa;">

<nav class="navbar navbar-dark bg-dark">
<div class="container">
<a class="navbar-brand" href="/dashboard">StockFlow</a>
</div>
</nav>

<div class="container">
    <%- body %>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>